@charset "utf-8";
/* CSS Document */

/********* FONTS ********/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Chivo:300,400,400i,700,900');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@font-face {
	font-family: 'Conv_Ludicrous';
	src: url('../fonts/Ludicrous.eot');
	src: local('☺'), url('../fonts/Ludicrous.woff') format('woff'), url('../fonts/Ludicrous.ttf') format('truetype'), url('../fonts/Ludicrous.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.cust-navbar {
	background: #fff;
	position: relative;
}
.cust-navbar .cust-right-menu ul {
	margin: 0px;
	padding: 0px;
}
.cust-navbar .cust-right-menu ul li a {
	text-decoration: none;
}
.cust-navbar .cust-right-menu ul li {
	list-style-type: none;
}
.cust-navbar .cust-right-menu ul li.emily-markey a {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #919191;
	background: url(../images/emily-markey-icon.png) no-repeat center right;
	padding-right: 20px;
}
.cust-navbar .cust-right-menu ul li.log-out a {
	color: #248dc1;
	font-size: 12px;
	font-family: 'Chivo', sans-serif;
	font-weight: 400;
}
.cust-navbar .cust-right-menu ul li.home-reports a {
	color: #248dc1;
	font-size: 12px;
	font-family: 'Chivo', sans-serif;
	font-weight: 700;
	/*
	border-radius: 50px;
	border: 1px solid #248dc1;
*/
	padding: 5px 15px;
	display: inline-block;
	margin: 8px 0 0 0;
	transition: .4s;
}
.cust-navbar .cust-right-menu ul li.home-reports a:hover {
	color: #FFF;
	background: #248dc1;
}

.cust-navbar .main-search{position: absolute; left: 0px; right: 0px;}

.main-emily {
	background: #fff;
}
.main-emily .innner-emily h1 {
	font-size: 64px;
	color: #248dc1;
	font-family: 'Conv_Ludicrous';
}
.main-emily .innner-emily h3 {
	font-size: 28px;
	color: #696969;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.main-emily .innner-emily h3 span {
	font-weight: 700;
}
.main-emily .innner-emily .star-points {
	margin: 20px 0 35px 0;
	padding: 0px;
}
.main-emily .innner-emily .star-points li {
	list-style-type: none;
	font-family: 'Chivo', sans-serif;
	font-weight: 400;
	color: #696969;
	margin: 5px 0 0 0;
}
.main-emily .innner-emily .star-points li span {
	font-weight: 700;
}
.main-search {
	margin: 0 0 40px 0;
	overflow: hidden;
}
.main-search form.search-for-org input {
	min-width: 360px;
	font-family: 'Chivo', sans-serif;
	font-weight: 400;
	font-style: italic;
	border: 1px solid #c7c7c8;
	background: #eaeaea;
	padding: 15px;
	font-size: 14px;
	color: #696969;
}
.main-search form.search-for-org input:focus{ box-shadow: none;border: 1px solid #248dc1; background: #fff;transition: .4s;}

.main-search form.search-for-org button {
	font-family: 'Chivo', sans-serif;
	font-weight: 700;
	background: #00af51;
	padding: 15px;
	color: #fff;
	font-size: 14px;
	box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.organizations-but {
	margin: 40px 0 0;
}
.organizations-but a {
	padding: 10px 25px;
	display: inline-block;
	color: #248dc1;
	font-family: 'Chivo', sans-serif;
	font-weight: 700;
	font-size: 16px;
	transition: .4s;
	text-decoration: none;
}
.organizations-but a:hover {
	color: #FFF;
	background: #248dc1;
}
.cust-blue-buton {
	border: 1px solid #248dc1;
	border-radius: 50px;
}

footer .inner-footer{
	background: #248dc1;
	padding: 30px 15px;
	width: 100%;
	overflow: hidden;
	border-top: 4px solid #1d7aa7;
}
footer .inner-footer p{
	font-size: 12px;
	font-family: 'Chivo', sans-serif;
	font-weight: 400;
	margin: 0px;
	color: #fff;
}

.favorites-heading{ overflow: hidden; margin: 20px 0 30px;}
.favorites-heading .site-details-inner-head,
.favorites-heading .favorites-inner-head{overflow: hidden;}
.favorites-heading .site-details-inner-head h1,
.favorites-heading .favorites-inner-head h1{ font-size: 28px; color: #737373;font-family: 'Raleway', sans-serif; font-weight: 400; margin-bottom: 0px;}


/****** tabs ********/
/*.wizard__steps {
  position: absolute;
/*  bottom: 0;*/
  /*left: 0;
  width: 100%;
  transform: translateY(50%);
  z-index: 10;
}
.wizard__footer {
  padding: 0 50px 50px;
  border-radius: 5px;
}
.wizard__content {
  background: #fff;
  box-shadow: 0px 0px 10px #c5c5c5;
  border-radius: 5px;
}
.wizard__congrats-message {
  color: #676767;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.wizard.completed .wizard__content {
  animation: gettingOut 2s cubic-bezier(1, -0.71, 1, 1.16) forwards;
}
.wizard.completed .wizard__congrats-message {
  animation: fadeIn 2s cubic-bezier(1, -0.71, 1, 1.16) forwards;
}*/

.line {
  position: absolute;
  top: 18px;
  left: 50%;
  z-index: -1;
  height: 5px;
  transition: all 0.5s ease;
}
.line.-start {
  left: 0%;
  background: #5094de;
  width: 50%;
}
.line.-end {
  left: 50%;
  background: #5094de;
  width: 50%;
}
.line.-background {
  background: #c3c3c3;
  width: 100%;
}
/*
.line.-progress {
  background: #5094de;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left center;
}

.line.-in-progress {
  transform: scaleX(1);
}*/
/*
.panels {
  position: relative;
  overflow: hidden;
}
.panel {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s all;
  padding: 50px;
}
.panel__header {
  margin-bottom: 30px;
}
.panel__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}
.panel__subheading {
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin: 0;
}
.panel.movingOutBackward {
  transform: translateX(-620px);
}
.panel.movingOutFoward {
  transform: translateX(620px);
}
.panel.movingIn {
  transform: translateX(0);
}
*/
.steps {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  color: #fff;
}
.step {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}
.step_content {
  position: relative;
  z-index: 2;
}
.step_content small{ color:#737373; font-size: 11px;font-weight: 400;
    font-family: 'Chivo', sans-serif;}
.step_number {
      font-size: 13px;
    color: #bebebe;
    background: #fff;
    font-weight: 600;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid #c3c3c3;
    transition: opacity 0.5s;
    opacity: 1;
    z-index: 5;
/*    padding: 7px 3px;*/
}
.step.-completed .step_number {
  opacity: 0;
}

.step_number span {
/*    padding: 4.3px 0; border: 2px solid #fff;*/
    display: block;
    border-radius: 50%;
   
}
.step_number span img {
    width: 100%;
}

.step.-completed .line {
  transform: scaleX(1);
}
/*
.step:last-child .line {
  width: 50%;
}
*	/

/*********** favorites-listing *********/
section.favorites-listing {
    overflow: hidden;
    clear: both;
}

.favorites-listing .favorites-listing-inner{
	overflow: hidden;
	display: flex;
	font-family: 'Chivo', sans-serif;
}



.fav-main-list{ float: left; border-right: 0px;}
.fav-main-list.head h3{ font-size: 12px;font-weight: 600; text-align: center;color: #737373;}
.fav-main-list.list h2{ font-size: 14px;font-weight: 600; text-align: center; color: #248dc1; margin: 0px;}
.fav-main-list.list h4{ font-size: 18px;font-weight: 600; text-align: center; margin: 0px;}


.list.adoption,
.list.activation {border-right: 1px solid #dadada;}

.list.retention,
.list.adoption,
.list.activation{ margin: 10px 0;}

.health-rating{    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 21px;
    font-weight: 600;
    display: block;
    /* padding: 7px; */
    text-align: center;
    margin: 0 auto;}

.org-name-w{ width:215px;}
.issues-w{ width: 83px;}
.opportunities-w{ width: 122px;}
.overall-health-w{ width: 119px;}
.activation-w{ width: 237px;}
.adoption-w{ width: 162px;}
.retention-w{ width: 168px;}


/********* SITE DETAILS PAGE START *********/

.site-details-cont-info{ overflow: hidden; text-align: left;font-family: 'Chivo', sans-serif;}
.address-details h2{ font-size: 17px; color: #248dc1; font-weight: 600;}
.address-details h3{ font-size: 16px; color: #737373; font-weight: 600; margin: 0 0 5px 0px;}
.address-details h3 span.mas-id{font-family: 'Share Tech Mono', monospace;font-weight: normal; }
.address-details h3 span.org{font-weight: normal; color: #248dc1;}
.address-details p{ font-size: 14px; color: #737373; font-weight: 400; margin-bottom: 0px;}
.address-details h3 span.hatch{font-weight: normal}

/*.recent-site-outer{ overflow: hidden;}*/
.recent-site-outer .recent-site-header{ position: relative;}
.recent-site-outer .recent-site-header h2{ font-size: 18px; font-weight: 700; color: #737373; text-align: center; margin: 0px; line-height: 30px;}
.recent-site-outer .recent-site-header a{color: #248dc1;
    font-size: 12px;
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    padding: 5px 15px;
    display: inline-block;
    /* margin: 8px 0 0 0; */
    transition: .4s;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0;
	background: #fff;
}
.recent-site-outer .recent-site-header a:hover{
	color: #FFF;
    background: #248dc1;}

.recent-site-table{ overflow: hidden; margin-top: 20px;}
.recent-site-table ul{ margin: 0px; padding: 0px; display: flex;}
.recent-site-table ul li{ list-style-type: none; float: left;}


.date{ width: 77px;}
.customer-contact{ width: 145px;}
.phone{ width: 135px;}
.email{ width: 80px;}
.hatchc{ width: 140px;}

.date-head,
.cc-head,
.phone-head,
.phone-head,
.hatchc-head{ font-size: 13px; font-weight: 600; color: #737373; text-align: center;font-family: 'Chivo', sans-serif;}
.sub-head{font-size: 13px; font-weight: 400; color: #737373; text-align: center;font-family: 'Chivo', sans-serif;}
.email.sub-head a img{ width: 24px; height: auto;}

.product-mix{ }
.product-mix .product-mix-header h2{font-size: 18px;
    font-weight: 700;
    color: #737373;
    text-align: center;
    margin: 0px 0 10px 0;
    line-height: 30px;}

.product-mix ul{ margin: 0px; padding: 0px; display: flex;flex-flow: row wrap; text-align: center;}
.product-mix ul li {
    width: calc(100% / 4 - 0px);
    float: left;
    list-style-type: none;
    margin: 5px 0;
	position: relative;
}
.product-mix ul li span img{ width: 45px;}
.product-mix ul li small{font-size: 11px;white-space: nowrap;}
.product-mix ul li .count{    background: #00af51;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    position: absolute;
    right: 5px;
    top: 20px;
    border: 2px solid #fff;
	display: flex;
}
.product-mix ul li .count p{  font-size: 10px; color: #fff;font-weight: 600; margin: 0 auto;padding-top: 2px;}
.steps-outer{
    width: 570px;
    overflow: hidden;
    margin: 0 auto;
}
h6.site-health-sub-head {
    font-size: 12px;
    font-weight: 600;
    color: #737373;
    text-align: center;
	font-family: 'Chivo', sans-serif;
}
.site-health{ margin: 0 0 40px 0;}
.site-health .site-health-head{ text-align: center; margin: 10px 0;}
.site-health .site-health-head h2{font-size: 28px;
    color: #737373;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin:0 10px 0 0px;
	display: inline-block;
	
}
.site-health .site-health-head .health-rating{ display: inline-block;}
.health-rating img{ width: 100%;}

.view-healt-but {
    margin-top: 10px;
}
.view-healt-but a {
    padding: 6px 20px;
    display: inline-block;
    color: #248dc1;
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    font-size: 14px;
    transition: .4s;
    text-decoration: none;
}
.view-healt-but a:hover {
    color: #FFF;
    background: #248dc1;
}



.panel-heading a:hover  , 
.panel-heading a:active , 
.panel-heading a:focus  {
    text-decoration:none;
}
.accordian-outer{ margin: 20px 0 0;}
.plus-minus-icon a{ display: block;padding-right: 45px;}

.plus-minus-icon a[aria-expanded="true"]{ background: url(../images/minus-icon.png) no-repeat center right/35px;}
.plus-minus-icon a,
.plus-minus-icon a[aria-expanded="false"]{background: url(../images/plus-icon.png) no-repeat center right/35px;}
.issues-accordion{ margin-bottom: 40px;}
.cust-accordion-head h2{
	font-size: 28px;
    color: #737373;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0 10px 0 0px;
    display: block;
	text-align: center;
}
.cust-accordion-head h2 img{ width: 40px; height: auto;}
.issues-accordion .issue-list-heading{ margin: 0px; padding: 0px; overflow: hidden;border: 1px solid #b7b7b7;
    border-bottom: 0px;}
.issues-accordion .issue-list-heading li{list-style-type: none; float: left; padding: 10px;
font-size: 13px;
    font-weight: 600;
    color: #737373;
    text-align: center;
    font-family: 'Chivo', sans-serif;
}
.issues-accordion .site-issues-list {    margin: 10px 0 0;}
.site-issues-list .site-issues-list-inner .severity{ width: 135px;} 


/***** SEARCH RESULT *****/
.search-address-details{ text-align: left; overflow: hidden;}
.search-address-details h2{ font-size: 14px; color: #248dc1; font-weight: 600; text-align: left;}
.search-address-details h3{ font-size: 16px; color: #737373; font-weight: 600; margin: 0 0 5px 40px;}
.search-address-details h3 span.mas-id{font-family: 'Share Tech Mono', monospace;font-weight: normal; }
.search-address-details h3 span.org{font-weight: normal; color: #248dc1;}
.search-address-details h3 span.Loca{font-weight: normal; }

.search-address-details h3 span.hatch{font-weight: normal}
.search-address-details h4{color: #248dc1; font-size: 14px; font-weight: 600; margin-left: 40px; background: #feeabb; display: inline-block;line-height: 26px;    padding: 0 5px;}

.search-main-list{ width: 270px;}
.search-address-details ul{ margin: 0px; padding: 0px;}
.search-address-details ul li{ float: left; list-style-type: none;}


/*********** common class ********/


.all-side-border{border: 1px solid #dadada;}

.cust-border-right{border-right:1px solid #dadada;}
.cust-border-left{border-left:1px solid #dadada;}
.cust-border-bottom{border-bottom:1px solid #dadada;}

.white-col{color: #fff;}
.bg-white-col{background: #fff;	}

.red-col{color: #ed2124;}
/*.bg-red-col{background: #ed2124;}*/

.green-col{color: #00af51;}
/*.bg-green-col{background: #00af51;}*/

.orange-col{color: #fd8713;}
/*.bg-orange-col{background: #fd8713;}*/

.border-blue{ border-color:#248dc1;}
.border-gray{ border-color:#bebebe;}

.blue-col{color: #248dc1;}
.gray-col{color: #c3c3c3;}

.bg-col-blue{ background:#248dc1 !important;}

.bg-dark-gray{background: #dcdcdc;}
.bg-light-gray{background: #f5f5f5;}

.border-top{ padding: 20px 0 0 0; border-top: 1px solid #c5c5c5 !important; margin-top: 20px;}


/*********** common class ********/












